.container-main {
    display: flex;
    justify-content: space-between;
    max-width: 100vw;
    min-height: 100vh;
    background: linear-gradient(to right, #000000 25%, #5A189A);
    color: #ffffff;
}

.left-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 50%;
    padding: 35px 35px 0;
    background-image: url("../../assets/magic.png");
    background-repeat: no-repeat;
    background-position: bottom 0%;
    background-size: cover;
}

.left-container h1 {
    font-family: "roboto", serif;
    font-size: 60px;
}

img[alt="cat"] {
    width: 50px;
    margin-left: 15px;
}

.instructions {
    padding-left: 15px;
    width: 600px;
}

.instructions h2 {
    margin-bottom: 40px;
    font-size: 40px;
    line-height: 39px;
    font-weight: normal;

}

.instructions p {
    font-size: 32px;
    line-height: 39px;
    margin-bottom: 18px;
}

.highlighted-word {
    color: #4cc9f0;
}

.icon-reference {
    font-size: 10px;
}

.icon-reference a {
    text-decoration: none;
    color: #ffffff;
}

.right-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    background-image: url("../../assets/magic-wand.png");
    background-repeat: no-repeat;
    background-position: top 50px left 0%;
    background-size: contain;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 400px;
    padding: 25px 0;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.020);
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.35);
}

.locations {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.locations select {
    width: 340px;
    height: 45px;
    border-radius: 5px;
    font-family: "Roboto", sans-serif;
    padding: 10px;
    font-weight: 700;
    font-size: 16px;
    color: #ffffffb3;
    background-color: unset;
    transition: all 0.2s;
    cursor: pointer;
}

.locations select:first-of-type {
    margin-bottom: 15px;
}

.locations select option {
    background-color: #000000;
}

.locations select:hover {
    box-shadow: 0 2px 15px #72efdd;
}

.languages {
    width: 350px;
    margin: 10px 0;
    color: #ffffffb3;
}

.languages span {
    margin-left: 20px;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 16px;
}

.content-language {
    display: flex;
    gap: 10px 15px;
    flex-wrap: wrap;
    margin-top: 15px;
}

.language {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 105px;
    height: 28px;
    border: 1px solid #ffffffb3;
    border-radius: 10px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 14px;
    background-color: #0000006b;
    color: #ffffff;
    cursor: pointer;
    transition: all 0.2s;
}

.language:hover {
    background-color: #4fcff7;
    box-shadow: 0 2px 20px #72efdd;
}


button {
    all: unset;
    width: 90px;
    height: 35px;
    border-radius: 10px;
    text-align: center;
    background-color: #46b8db;
    cursor: pointer;
    transition: all 0.2s;
}

button:hover {
    background-color: #4fcff7;
    box-shadow: 0 2px 20px #72efdd;

}