.container-main {
    display: flex;
    justify-content: space-between;
    max-width: 100vw;
    min-height: 100vh;
    background: linear-gradient(to left, #5A189A, #000000 65%);
    color: #ffffff;
}

.left-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 50%;
    padding: 35px 35px 0;
    background-image: url("../../assets/magic.png");
    background-repeat: no-repeat;
    background-position: top -85px center;
    background-size: contain;
}

.left-container h1 {
    font-family: "roboto", serif;
    /* font-family: "lumos", serif; */
    font-size: 60px;
}

img[alt="cat"] {
    width: 50px;
    margin-left: 15px;
}

.instructions {
    padding-left: 15px;
}

.instructions h2 {
    font-size: 40px;
    line-height: 39px;
    font-weight: normal;
    margin-bottom: 40px;

}

.instructions p {
    font-size: 32px;
    line-height: 39px;
    margin-bottom: 18px;
}

.highlighted-word {
    color: #4cc9f0;
}

.icon-reference {
    font-size: 10px;
}

.icon-reference a {
    text-decoration: none;
    color: #ffffff;
}