.container-main {
    display: flex;
    justify-content: space-between;
    width: 100vw;
    min-height: 100vh;
    background: linear-gradient(to left, #5A189A, #000000 75%);
    color: #ffffff;
}

.left-container {
    width: 50%;
    padding: 35px;
}

.left-container h1 {
    font-family: "lumos", serif;
    font-size: 60px;
    margin-bottom: 80px;
}

.instructions {
    padding-left: 15px;
}

.highlighted-word {
    color: #4cc9f0;
}

.instructions h2 {
    font-size: 40px;
    line-height: 39px;
    font-weight: normal;
    margin-bottom: 40px;

}

.instructions p {
    font-size: 32px;
    line-height: 39px;
    margin-bottom: 18px;
}

/* .instructions p:last-child {} */