.left-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 50%;
  min-width: 360px;
  padding: 35px 0 0 25px;
  background-repeat: no-repeat;
  background-position: bottom 0%;
  background-size: cover;
}

.left-container h1 {
  font-size: 60px;
  margin-bottom: 60px;
}

img[alt="cat"] {
  width: 50px;
  margin-left: 11px;
}

.instructions {
  padding-left: 5px;
  max-width: 650px;
}

.instructions h2 {
  margin-bottom: 40px;
  font-size: 40px;
  line-height: 39px;
  font-weight: 400;
}

.instructions p {
  font-size: 32px;
  line-height: 39px;
  margin-bottom: 18px;
}

.highlighted-word {
  color: #4cc9f0;
}

.icon-reference {
  position: absolute;
  bottom: 0;
  right: 0;
  margin-right: 5px;
  font-size: 8px;
}

.icon-reference a {
  text-decoration: none;
  color: #ffffff;
}

.right-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 50%;
  min-width: 360px;
  background-repeat: no-repeat;
  background-position: top 50px left 0%;
  background-size: contain;
}

@media (min-width: 360px) and (max-width:720px) {
  .left-container {
    width: 100%;
    min-width: 0px;
  }

  .right-container {
    width: 100%;
    min-width: 0px;
  }

  .left-container h1 {
    font-size: 4.5rem;
  }

  img[alt="cat"] {
    width: 4.2rem;
  }

  .instructions p {
    font-size: 2.5rem;
  }

  .instructions h2 {
    font-size: 3rem;
  }
}