@import url("./animations/animations.css");

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;

  font-family: 'Roboto', sans-serif;
  font-style: normal;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  overflow-x: hidden;
  --toastify-color-info: #000000;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container-main {
  max-width: 100vw;
  min-height: 100vh;
  background: linear-gradient(to right, #000000 25%, #3C096C 49%);
  color: #ffffff;
  position: relative;
}

.container-background {
  max-width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-image: url("./assets/magic-wand.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-attachment: fixed;
  background-position: top right;
}

form,
.locations select,
.btn-languages,
.language,
.user-card,
.container-message,
.Toastify__toast-theme--colored.Toastify__toast--success,
.Toastify__toast-theme--colored.Toastify__toast--info {
  border-radius: 10px;
}

.btn-languages,
.language,
.user-card,
.container-message {
  border: 1px solid #767676;
}

.locations select,
.btn-languages,
button,
.language,
.user-card {
  transition: all 0.3s;
}

.locations select:hover,
.btn-languages:hover,
button:hover,
.language:hover {
  box-shadow: 0 2px 20px #72efdd;
}

.Toastify__close-button {
  all: unset;
}

.Toastify__close-button:hover {
  background-color: unset;
  box-shadow: none;
}

.Toastify__toast-theme--colored.Toastify__toast--info {
  background-color: #5856d6 !important;
}

.Toastify__toast-theme--colored.Toastify__toast--info,
.Toastify__toast-theme--colored.Toastify__toast--success {
  font-weight: 700;
}

::-webkit-scrollbar {
  width: 15px;

}

::-webkit-scrollbar-track {
  background-color: #ffffff;
}

::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: #7B2CBF;
}